pipeline/input_csv_sink_pl_pipeline2.json
{
	"name": "input_csv_sink_pl_pipeline2",
	"properties": {
		"activities": [
			{
				"name": "csv_metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "parallel_2_validation_2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "parallel_orders",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"columnCount",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "meta_data_true",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "csv_metadata",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('csv_metadata').output.columnCount,6)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "csv_sink_failed",
							"description": "IF condition failed ",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "pipeline_has_failed",
								"errorCode": "404"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "input_ds_sink",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "parallel_orders",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sink_ds",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "productscopy_delete",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "input_ds_sink",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "parallel_orders",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "parallel_2_validation_2",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "parallel_orders",
						"type": "DatasetReference"
					},
					"timeout": "0.00:01:00",
					"sleep": 10
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-05-21T10:06:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}