pipeline/pl_until_files_available.json
{
	"name": "pl_until_files_available",
	"properties": {
		"activities": [
			{
				"name": "Get available trigger files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Get_Date_Folders",
						"type": "DatasetReference",
						"parameters": {
							"BlobName": {
								"value": "@pipeline().parameters.DataFolders",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Count_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get available trigger files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Declare @json1 nvarchar(max)\nSet @json1 = '@{activity('Get available trigger files').output.childItems}'\nselect count(*) as cnt from openjson(@json1)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "pl_get_count_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Diff_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_get_latest_files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"getcount": {
							"value": "@activity('Get Count').output.firstRow.cnt",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get Diff_copy1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Count_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "diff",
					"value": {
						"value": "@div(sub(ticks(utcnow()), ticks(activity('Get available trigger files').output.lastModified)), 600000000)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DataFolders": {
				"type": "string"
			}
		},
		"variables": {
			"diff": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}